ul {
  padding: 0;
}

.App {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 2rem;
}

input {
  display: flex;
  width: 100%;
  padding: 4px 8px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 1rem;
}

.field {
  width: 100%;
  margin: 8px 0;
}

.field.align-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
